<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="transactionAdvice"
		class="com.project.uniproduct.common.aspect.TransactionAdvice">
		<property name="dataSourceTransactionManager"
			ref="dataSourceTransactionManager" />
	</bean>

	<bean id="loggingAdvice"
		class="com.project.uniproduct.common.aspect.LoggingAdvice">
	</bean>

	<bean id="dataAccessExceptionThrowsAdvice"
		class="com.project.uniproduct.common.aspect.DataAccessExceptionThrowsAdvice">
	</bean>


	<aop:config>

		<aop:pointcut id="serviceDaoPointcut"
			expression="execution(* com.project.uniproduct..serviceFacade.*.*(..)) or 
				execution(* com.project.uniproduct..applicationService.*.*(..)) or 
				execution(* com.project.uniproduct..dao.*.*(..))" />

		<aop:pointcut id="servicePointcut"
			expression="execution(* com.project.uniproduct..serviceFacade.*.*(..))" />

		<aop:advisor advice-ref="transactionAdvice"
			pointcut-ref="servicePointcut" />
		<aop:advisor advice-ref="loggingAdvice"
			pointcut-ref="serviceDaoPointcut" />
		<aop:advisor advice-ref="dataAccessExceptionThrowsAdvice"
			pointcut-ref="servicePointcut" />


	</aop:config>



</beans>