<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

<bean id="itemDAOImpl" 
class="com.project.uniproduct.logistics.logisticsInfo.dao.ItemDAOImpl"
parent="iBatisSupportDao">
</bean>

<bean id="itemApplicationServiceImpl" 
class="com.project.uniproduct.logistics.logisticsInfo.applicationService.ItemApplicationServiceImpl">
<property name="itemDAO" ref="itemDAOImpl"/>
<property name="codeDetailDAO" ref="codeDetailDAOImpl"/>
<property name="bomDAO" ref="bomDAOImpl"/>
</bean>

<bean id="logisticsInfoServiceFacadeImpl"
class="com.project.uniproduct.logistics.logisticsInfo.serviceFacade.LogisticsInfoServiceFacadeImpl">
<property name="itemAS" ref="itemApplicationServiceImpl"/>
</bean>


</beans>